@model InventarioGEI.Models.FactorEmision

@{
    ViewData["Title"] = "Create";
}

<div class="card mb-3 container-main">
    <div class="card-header">
        <h3 style="margin-top: 10px;">Crear Factor de Emisión</h3>
        <hr />
    </div>

    <form asp-action="Create" class="form-main">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">
            <div class="col-12 col-lg-9">
                <label asp-for="idConfiguracion" class="control-label"></label>
                <div class="selectdiv ">
                    <select asp-for="idConfiguracion" class="form-select input-select" asp-items="ViewBag.idConfiguracion"></select>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <label asp-for="idGei" class="control-label"></label>
                <div class="selectdiv ">
                    <select asp-for="idGei" class="form-select input-select" asp-items="ViewBag.idGei"></select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-lg-6 col-xl-3">
                <label asp-for="factorEmision" class="control-label col-form-label"></label>
                <input asp-for="factorEmision" type="number" step="any" min="0" class="form-control input-text" placeholder="Ingrese el factor de Emisión" />
                <span asp-validation-for="factorEmision" class="text-danger"></span>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <label asp-for="PCG" class="control-label col-form-label"></label>
                <input asp-for="PCG" type="number" step="any" min="0" class="form-control input-text" placeholder="Ingrese el PCG" />
                <span asp-validation-for="PCG" class="text-danger"></span>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <label asp-for="incertidumbreMas" class="control-label col-form-label"></label>
                <input asp-for="incertidumbreMas" type="number" step="any" min="0" class="form-control input-text" placeholder="Ingrese la incertidumbre +" />
                <span asp-validation-for="incertidumbreMas" class="text-danger"></span>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <label asp-for="incertidumbreMenos" class="control-label col-form-label"></label>
                <input asp-for="incertidumbreMenos" type="number" step="any" min="0" class="form-control input-text" placeholder="Ingrese la incertidumbre -" />
                <span asp-validation-for="incertidumbreMenos" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group group-buttons">
            <a asp-action="Index" type="button" class="btn btn-outline-primary" style="margin-right: 30px;">Regresar</a>
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </form>
</div>


