@model InventarioGEI.Models.FactorEmision

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FactorEmision</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idFE" />
            <div class="form-group">
                <label asp-for="factorEmision" class="control-label"></label>
                <input asp-for="factorEmision" class="form-control" />
                <span asp-validation-for="factorEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCG" class="control-label"></label>
                <input asp-for="PCG" class="form-control" />
                <span asp-validation-for="PCG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="incertidumbreMas" class="control-label"></label>
                <input asp-for="incertidumbreMas" class="form-control" />
                <span asp-validation-for="incertidumbreMas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="incertidumbreMenos" class="control-label"></label>
                <input asp-for="incertidumbreMenos" class="form-control" />
                <span asp-validation-for="incertidumbreMenos" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="enabled" /> @Html.DisplayNameFor(model => model.enabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="idGei" class="control-label"></label>
                <select asp-for="idGei" class="form-control" asp-items="ViewBag.idGei"></select>
                <span asp-validation-for="idGei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuario" class="control-label"></label>
                <input asp-for="idUsuario" class="form-control" />
                <span asp-validation-for="idUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idConfiguracion" class="control-label"></label>
                <select asp-for="idConfiguracion" class="form-control" asp-items="ViewBag.idConfiguracion"></select>
                <span asp-validation-for="idConfiguracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

