@{
    ViewBag.Title = "Page Not Found";
}

<div class="card mb-3 container-main d-flex flex-row-reverse justify-content-around align-items-center">
    <h3>No pudimos encontrar la página que buscabas</h3>
    <i class="fa-regular fa-face-frown-open " style="font-size: 2rem"></i>
</div>

