@model InventarioGEI.Models.Reporte

@{
    ViewData["Title"] = "Reporte";
}

<div class="card mb-3 container-main">
    <div class="card-header">
        <h5 style="margin-top: 10px;">@Html.DisplayFor(model => model.nombreReporte)</h5>
        <hr />
    </div>
    <iframe title="@Html.DisplayFor(model => model.nombreReporte)" width="auto" height="800px" src="@Html.DisplayFor(model => model.link)" frameborder="0" allowFullScreen="true"></iframe>
</div>