@using System.Security.Principal

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
        <span class="navbar-text" style="border-right: solid 1px #e7e7e7; padding-right: 15px;">Hola @User.Identity?.Name!   </span>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Salir</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Entrar</a>
        </li>
}
</ul>
