@model IEnumerable<InventarioGEI.Models.RegistroActividad>

@{
    ViewData["Title"] = "Index";
}

<div class="row container-title">
    <h3 class="col-3">Registros</h3>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <label class="control-label">Sede</label>
        <div class="selectdiv">
            <select class="form-select input-select" asp-items="ViewBag.sede" onchange=""></select>
        </div>
    </div>
    <div class="form-group col-12 col-lg-5">
        <label class="control-label">Año</label>
        <input type="number" placeholder="YYYY" min="1994" max="3000" class="form-control input-text" style="width: 95px">
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-md-6">
        <label class="control-label">Alcance</label>
        <div class="selectdiv">
            <select class="form-select input-select" asp-items="ViewBag.alcance" onchange="filterCategoria(this)"></select>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <label class="control-label">Categoría</label>
        <div class="selectdiv">
            <select class="form-select input-select" asp-items="ViewBag.categoria" onchange="filterCombustibles(this)" id="selectCat"></select>
        </div>
    </div>
</div>
<div class="card mb-3 container-main" style="height: 70%">
    <table class="table table-hover table-main">
        <thead>
            <tr class="tr-head">
                <th class="th-head">
                    @Html.DisplayNameFor(model => model.configuracion)
                </th>
                <th class="th-head">
                    @Html.DisplayNameFor(model => model.configuracion.combustible.unidad.unidad)
                </th>
                <th class="th-head">
                    Ene
                </th>
                <th class="th-head">
                    Feb
                </th>
                <th class="th-head">
                    Mar
                </th>
                <th class="th-head">
                    Abr
                </th>
                <th class="th-head">
                    May
                </th>
                <th class="th-head">
                    Jun
                </th>
                <th class="th-head">
                    Jul
                </th>
                <th class="th-head">
                    Ago
                </th>
                <th class="th-head">
                    Sep
                </th>
                <th class="th-head">
                    Oct
                </th>
                <th class="th-head">
                    Nov
                </th>
                <th class="th-head">
                    Dic
                </th>
            </tr>
        </thead>
        <tbody id="tableCombustible">
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn btn-primary button-create" onclick="sendChanges()">Guardar Cambios</button>
    </div>
</div>
<script>
    function filterCategoria(alcanceItem) {
        var selectedAlcance = alcanceItem.value;
        var selectCat = $('#selectCat');
        selectCat.contents().remove();
        if (selectedAlcance != null && selectedAlcance != '') {
            $.getJSON('@Url.Action("GetCategorias")', { id: selectedAlcance }, function (unidad) {
                if (unidad != null && !jQuery.isEmptyObject(unidad)) {
                    unidad.map(f => {
                        selectCat
                            .append($("<option></option>")
                                .attr("value", f.value)
                                .text(f.text));
                    });
                };
            });
        }
    };

    function filterCombustibles(categoriaItem) {
        var selectedCategoria = categoriaItem.value;
        var tableCombustibles = $('#tableCombustible');
        tableCombustibles.contents().remove();
        if (selectedCategoria != null && selectedCategoria != '') {
            $.getJSON('@Url.Action("GetCombustibles")', { id: selectedCategoria }, function (unidad) {
                if (unidad != null && !jQuery.isEmptyObject(unidad)) {
                    unidad.map(f => {
                        console.log(f);
                        tableCombustibles
                            .append('<tr />')
                            .children('tr:last')
                            .append(
                                '<td />' + f.nombreCombustible +
                                '<td />' + f.unidad.unidad +
                                '<td>' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-1"/>' +
                                '</td>' +
                                '<td>' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-2"/>' +
                                '</td>' +
                                '<td>' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-3"/>' +
                                '</td>' +
                                '<td>' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-4"/>' +
                                '</td>' +
                                '<td>' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-5"/>' +
                                '</td>' +
                                '<td >' +
                                '<input type="text" class="form-control input-text text-center"  id="' + f.idCombustible + '-6"/>' +
                                '</td>' +
                                '<td>' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-7"/>' +
                                '</td>' +
                                '<td >' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-8"/>' +
                                '</td>' +
                                '<td>' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-9"/>' +
                                '</td>' +
                                '<td >' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-10"/>' +
                                '</td>' +
                                '<td >' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-11"/>' +
                                '</td>' +
                                '<td >' +
                                '<input type="text" class="form-control input-text text-center" id="' + f.idCombustible + '-12"/>' +
                                '</td>'
                            );
                        $('#tableCombustible > tr').addClass('tr-body')
                    });
                };
            });
        }
    };

    function sendChanges(){
        console.log("fere");
    }
  
    
</script>
