@model appNetMVC.Models.Usuario

@{
    ViewData["Title"] = "Authentication";
}

<h1>Authentication</h1>

<h4>Log In</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Authentication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Authentication" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
