@model InventarioGEI.Models.Alcance

@{
    ViewData["Title"] = "Create";
}

<div class="card mb-3 container-main">
    <div class="card-header">
        <h3 style="margin-top: 10px;">Crear Alcance</h3>
        <hr />
    </div>

    <form asp-action="Create" class="form-main">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-12 col-lg-5">
            <label asp-for="nombreAlcance" class="control-label col-form-label"></label>
            <input asp-for="nombreAlcance" placeholder="Ingrese el nombre del alcance" class="form-control input-text" />
            <span asp-validation-for="nombreAlcance" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="isBiocombustible" /> @Html.DisplayNameFor(model => model.isBiocombustible)
            </label>
        </div>
        <div class="form-group group-buttons">
            <a asp-action="Index" type="button" class="btn btn-outline-primary" style="margin-right: 30px;">Regresar</a>
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </form>
</div>


