@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F5F6F8;
    font-family: 'Work Sans', sans-serif;
    color: #192A3E;
}

/*main side bar*/
.msb {
    width: 250px;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    top: 45px;
    right: auto;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #ddd;
    padding: 25px 25px 0px 25px;
    box-shadow: 6px 0 14px 0px rgb(0 0 0 / 4%);
}

.navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    height: 23px;
}

.navbar-brand {
    position: relative;
    top: -17px;
    color: #109CF1;
    font-weight: 600;
}

.navbar-icon {
    width: 16px;
    margin-right: 15px;
}

li > a {
    text-decoration: none;
    color: #334D6E;
    font-weight:500;
}
.user-container {
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-name {
    font-size: 1rem;
    font-weight: 600;
}

.user-email{
    font-size: 0.8rem;
}

main {
    width: calc(100vw - 330px);
    height:calc(100vh - 290px);
    position: absolute;
    left: 288px;
}

.img-home {
    background-image: url("../img/welcomePage.jpg") ;
    object-fit: cover;
    height: 100%;
}

.img-logo {
    background-image: url("../img/logoMinAgro.png");
    position: relative;
    height: 61px;
    width: 323px;
    object-fit: cover;
    top: 88px;
    left: -62px;
    background-size: cover;
}

.table {
    border-radius: 6px;
}

.check-box{
    background-color: #213865;
}