@model InventarioGEI.Models.ConfiguracionActividad

@{
    ViewData["Title"] = "Edit";
}

<div class="card mb-3 container-main">
    <div class="card-header">
        <h3 style="margin-top: 10px;">Editar Configuración</h3>
        <hr />
    </div>
    <form asp-action="Edit" class="form-main">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="idConfiguracion" />

        <div class="form-group col-12 col-lg-6">
            <label asp-for="idSubcategoria" class="control-label"></label>
            <div class="selectdiv">
                <select asp-for="idSubcategoria" class="form-control input-select" asp-items="ViewBag.idSubcategoria"></select>
            </div>
            <span asp-validation-for="idSubcategoria" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-lg-6">
            <label asp-for="idFuenteEmision" class="control-label"></label>
            <div class="selectdiv">
                <select asp-for="idFuenteEmision" class="form-control input-select" asp-items="ViewBag.idFuenteEmision"></select>
            </div>
            <span asp-validation-for="idFuenteEmision" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-lg-6">
            <label asp-for="idCombustible" class="control-label"></label>
            <div class="selectdiv">
                <select asp-for="idCombustible" class="form-control input-select" asp-items="ViewBag.idCombustible"></select>
            </div>
            <span asp-validation-for="idCombustible" class="text-danger"></span>
        </div>
        <div class="form-group group-buttons">
            <a asp-action="Index" type="button" class="btn btn-outline-primary" style="margin-right: 30px;">Regresar</a>
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>

