@model InventarioGEI.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<div class="card mb-3 container-main">
    <div class="card-header">
        <h5 style="margin-top: 10px;">Editar usuario</h5>
        <hr />
    </div>
    <form asp-action="Edit" class="form-main">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="idUsuario" />
        <div class="form-group col-12 col-lg-6 ">
            <label asp-for="email" class="control-label col-form-label"></label>
            <input asp-for="email" placeholder="Ingrese el correo del usuario" class="form-control input-text" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-lg-6">
            <label asp-for="idRol" class="control-label"></label>
            <div class="selectdiv ">
                <select asp-for="idRol" class="form-select input-select" asp-items="ViewBag.idRol"></select>
            </div>
        </div>
        <div class="form-group group-buttons">
            <a asp-action="Index" type="button" class="btn btn-outline-primary" style="margin-right: 30px;">Regresar</a>
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
